.main-head {
  height: 145px;
  display: flex;
  flex-wrap: wrap;
  padding: 0 80px;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 106px; }
  .main-head__logo {
    width: 120px;
    height: 13px;
    background-image: url(../img/logo.jpg);
    display: inline-block; }
  .main-head__label-asap {
    display: none; }
  .main-head__asap {
    width: 65px;
    height: 40px;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 2px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #1D1D1D;
    text-align: center;
    font-weight: 500; }
  .main-head__location {
    width: 246px;
    padding-left: 42px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #1D1D1D;
    border: 1px solid #E0E0E0; }
  .main-head__label-location {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: flex-end;
    color: #626262;
    margin: 13px; }
  .main-head__button-sign {
    width: 80px;
    height: 40px;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 2px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 24px;
    padding-top: 6px;
    text-align: center;
    color: #1D1D1D; }
  .main-head__button-register {
    width: 80px;
    height: 40px;
    background: #262626;
    border-radius: 2px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 24px;
    text-align: center;
    padding-top: 6px;
    box-sizing: border-box;
    color: white;
    transition: background-color .5s linear; }
    .main-head__button-register:active {
      box-shadow: 0 2px 0 #0d6599;
      transform: translateY(1px);
      background-color: #2d21B5; }
  .main-head__form-wrap {
    width: 440px;
    padding-left: 70px;
    display: flex;
    align-items: center;
    position: relative; }
  .main-head__buttons-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 235px; }
  .main-head__before-img {
    position: absolute;
    left: 185px;
    top: 15px; }

.search {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px; }
  .search__line {
    width: 100%;
    opacity: 0.3; }
  .search__text {
    width: 223px;
    height: 24px;
    font-family: Roboto;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #626262;
    mix-blend-mode: normal;
    opacity: 0.5;
    border: 0; }

.ground-floor {
  background: #262626;
  height: 552px;
  padding: 0 80px;
  margin-top: 100px;
  padding-top: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal; }
  .ground-floor__logo {
    display: block;
    width: 191px;
    height: 20px;
    background-image: url(../img/white-logo.svg);
    margin-bottom: 50px; }
  .ground-floor hr {
    opacity: .4; }

.top-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .top-row__aside {
    width: 33%;
    box-sizing: border-box;
    padding-top: 40px;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
    height: 220px; }
  .top-row__aside p:not(:first-child) {
    margin-top: 20px; }
  .top-row__aside img:last-child {
    display: block; }

.form-select {
  position: relative; }
  .form-select__language {
    width: 227px;
    height: 40px;
    margin-bottom: 20px;
    position: relative;
    opacity: 0;
    z-index: 2; }
  .form-select__language:focus {
    outline: none; }
  .form-select::before {
    content: '';
    width: 227px;
    height: 41px;
    top: -1px;
    left: -1px;
    border-radius: 6px;
    border: 1px solid #2b2b2b;
    position: absolute;
    z-index: 0;
    display: block;
    background-image: url(../img/select.jpg);
    background-repeat: no-repeat;
    background-position: center; }
  .form-select::after {
    content: url(../img/shape1.png);
    top: 12px;
    left: 203px;
    position: absolute;
    z-index: 1;
    display: block; }
  .form-select img:first-child {
    position: absolute;
    top: 10px;
    left: 18px;
    width: 20px;
    z-index: 3; }
  .form-select img:not(:first-child) {
    position: absolute;
    left: 60px;
    top: 14.2px;
    z-index: 3; }

.middle-row {
  text-align: center; }

.middle-row img:first-child {
  margin: 40px 20px 40px; }

.middle-row img:last-child {
  margin: 40px 20px 40px;
  border-radius: 7px; }

.bottom-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  color: white;
  align-items: center;
  font-size: 11px;
  line-height: 13px; }
  .bottom-row p:last-child::after {
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    z-index: 22222;
    display: block;
    background-image: url(../img/shape.png);
    background-repeat: no-repeat;
    background-position: center; }
  .bottom-row p:last-child {
    position: relative;
    top: -10px; }

* {
  box-sizing: border-box; }

body, h1, h2, hr, p {
  margin: 0;
  font-style: normal;
  font-weight: normal; }

.page {
  padding: 10px; }

.content {
  display: flex;
  flex-wrap: wrap;
  font-family: Roboto;
  max-width: 1224px;
  margin: auto;
  justify-content: space-around; }

.main-heading {
  font-family: Roboto;
  font-size: 22px;
  line-height: 34px;
  color: #1D1D1D;
  position: absolute;
  top: -50px;
  left: 0px; }

.product {
  flex-grow: .16;
  flex-shrink: 2;
  height: auto;
  margin-bottom: 40px; }
  .product:first-child {
    position: relative; }
  .product__product-image {
    width: 100%; }
  .product__product-heading {
    font-size: 16px;
    line-height: 24px;
    color: #cacaca; }
  .product__product-title {
    font-size: 14px;
    line-height: 21px;
    color: #626262;
    display: block; }
  .product__product-ready {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: #1D1D1D;
    display: block; }

@media screen and (min-device-width: 320px) and (max-device-width: 639px) {
  .page {
    padding: 0; }
  .main-head {
    padding: 0;
    justify-content: space-around;
    height: 72px;
    margin-bottom: 253px;
    background: #FFFFFF;
    box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16); }
    .main-head__form-wrap {
      order: 3;
      padding-left: 8px;
      padding-right: 4px;
      margin-top: 25px; }
    .main-head__before-img {
      left: 100px;
      top: 13px; }
    .main-head__label-asap {
      display: block;
      font-family: Roboto;
      font-weight: 300;
      font-size: 11px;
      line-height: 13px;
      position: absolute;
      left: 9px;
      top: -23px; }
    .main-head__location {
      font-size: 13px;
      line-height: 16px;
      width: 227px;
      margin-left: 15px; }
    .main-head__label-location {
      font-weight: 300;
      font-size: 11px;
      line-height: 13px;
      position: absolute;
      position: absolute;
      left: 77px;
      top: -36px;
      color: #0d0d0d; }
    .main-head__asap {
      font-size: 13px;
      line-height: 24px; }
    .main-head__cart-img {
      display: none; }
    .main-head__buttons-wrap {
      width: auto;
      margin-top: 16px;
      margin-left: 30px; }
    .main-head__button-sign {
      width: 72px;
      margin-right: 12px;
      font-weight: 100;
      font-size: 11px;
      line-height: 28px; }
    .main-head__button-register {
      width: 72px;
      font-weight: 500;
      font-size: 11px;
      line-height: 28px; }
    .main-head__logo {
      width: 110px;
      height: 14px;
      background-image: url(../img/logo.jpg);
      background-repeat: no-repeat;
      display: inline-block;
      background-size: 110px;
      margin-top: 14px; }
  .search {
    margin-top: 50px; }
    .search__line {
      background: #757575;
      mix-blend-mode: normal;
      opacity: 0.3;
      margin: 15px 0 24px; }
    .search__img {
      width: 16px;
      margin-left: 15px;
      margin-right: 7px; }
    .search__text {
      font-size: 13px;
      line-height: 24px; } }

@media screen and (min-device-width: 640px) {
  .page {
    padding: 0 50px; } }

@media screen and (min-device-width: 1024px) {
  .page {
    padding: 0 15px; } }

@media screen and (min-device-width: 1124px) {
  .page {
    padding: 0 30px; } }

@media screen and (min-device-width: 1220px) {
  .page {
    padding: 0 30px; } }
